<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>목공소</title>
    <link rel="stylesheet" href="css/main.css" />
    <script src = "js/main.js"></script>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '{your-app-id}',
          cookie     : true,
          xfbml      : true,
          version    : '{api-version}'
        });
        FB.AppEvents.logPageView();
      };
      (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
  </head>
  <body>
    <div class = "box1" onclick = "fbLogin()">
      Facebook Login
    </div>
    <fb:login-button
      scope="public_profile,email"
      onlogin="checkLoginState();"
      class = "box1">
    </fb:login-button>
  </body>
</html>
