<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>목공소</title>
    <link rel="stylesheet" href="css/make3.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://unpkg.com/vue"></script>
    <script src = "js/make3.js"></script>
  </head>
  <body>
    <div class = "title">만다라트</div>
    <div class = "circles">
      <div class = "circle1"></div>
      <div class = "circle2"></div>
      <div class = "circle3"></div>
    </div>
    <div class = "arrow1"></div>
    <div class = "arrow2"></div>
    <div class = "inputTitle">만들어진 2단계의 칸을 눌러<br />3단계의 목표를 정해주세요</div>
    <div class = "introTitle">2단계 목표는 3단계의 중심 키워드가 되고<br />언제든지 수정할 수 있어요</div>
    <div class = "mandal">
      <div class = "mandalLine1">
        <div class = "box1">2</div>
        <div class = "box2">2</div>
        <div class = "box3">2</div>
      </div>
      <div class = "mandalLine2">
        <div class = "box4"></div>
        <div class = "box5">1</div>
        <div class = "box6"></div>
      </div>
      <div class = "mandalLine3">
        <div class = "box7"></div>
        <div class = "box8"></div>
        <div class = "box9"></div>
      </div>
    </div>

  </body>
</html>
