<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>목공소</title>
    <link rel="stylesheet" href="css/make1.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="shortcut icon" href="../img/logo1.png">
    <script src = "js/setCookie.js"></script>
    <script src = "js/make1.js"></script>
  </head>
  <body>
    <div class = "title">만다라트 튜토리얼</div>
    <div class = "circles">
      <div class = "circle1"></div>
      <div class = "circle2"></div>
      <div class = "circle3"></div>
    </div>
    <div class = "arrow" onclick="arrow();"></div>
    <div class = "inputTitle">만다라트의 제목을<br />입력해주세요</div>
    <div class = "introTitle">지금 적은 제목은 만다라트의<br />중심에 위치합니다</div>
    <div class = "mandalBox">
      <input type="text" class = "mandalTitle" placeholder="1" readonly/>
    </div>
    <div class = "inputBox">
      <input type="text" class="inputMandalTitle" placeholder="제목을 입력하세요" />
    </div>
  </body>
</html>
