<!DOCTYPE html>
<html lang="" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>목공소</title>
    <link rel="stylesheet" href="css/make4.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <link rel="shortcut icon" href="../img/logo1.png">
    <script src = "js/make4.js"></script>
  </head>
  <body>
    <div class = "title">만다라트</div>
    <div class = "circles">
      <div class = "circle1"></div>
      <div class = "circle2"></div>
      <div class = "circle3"></div>
    </div>
    <div class = "arrow1"></div>
    <div class = "arrow2"></div>
    <div class = "inputTitle">2단계 중심 키워드를 바탕으로<br />3단계 목표를 적어주세요</div>
    <div class = "introTitle">2단계의 중심 키워드를 가지고 목표를 만들어보세요<br />3단계 목표도 언제든지 수정할 수 있어요</div>
    <!-- <ul id = "wish">
      <li v-for="item in items" class = "wsihItem">
        <input type="text" class = "index" placeholder="{{ item.index }}"/>
      </li>
    </ul> -->
    <div class = "wish">EDCAN 폐부 하기</div>
    <div class = "add">좋은 클라이언트 만나기</div>
    <div class = "plus">+</div>
  </body>
</html>
