<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>목공소</title>
    <link rel="stylesheet" href="css/reg.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://unpkg.com/vue"></script>
    <link rel="shortcut icon" href="../img/logo1.png">
    <script src = "js/reg.js"></script>
  </head>
  <body>
    <a href="/login"><div class = "back"></div></a>
    <div class = "title">회원가입</div>
    <div class = "Logo"></div>
    <div class = "inputArea">
      <input type="text" class = "name" placeholder="이름"/>
      <input type="email" class = "email" placeholder="E-mail"/>
      <input type="text" class = "id" placeholder="ID"/>
      <input type="password" class = "passwd" placeholder="Password"/>
    </div>
    <div class = "RegBtn">가입하기</div>

  </body>
</html>
