<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>목공소</title>
    <link rel="stylesheet" href="css/Square_mandal.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://unpkg.com/vue"></script>
    <script src = "js/Square_mandal.js"></script>
  </head>
  <body>
    <div class = "title">만다라트</div>
    <div class = "non_mandal">
      <div class = "Logo"></div>
      <div class = "text">현재 만들어 놓은<br />만다라트 가 없어요!</div>
    </div>
    <div class = "new_mandal">만다라트 새로 만들기</div>
    <div class = "bar"></div>
    <div class = "footer">
      <div class = "page1">
        <div class = "page1_icon"></div>
      </div>
      <div class = "page2">
        <div class = "page1_icon"></div>
      </div>
      <div class = "page3">
        <div class = "page1_icon"></div>
      </div>
      <div class = "page4">
        <div class = "page1_icon"></div>
      </div>
    </div>
  </body>
</html>
