<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>목공소</title>
    <link rel="stylesheet" href="css/Triangle_mandal.css" />
    <link rel="stylesheet" href="css/footer.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="https://unpkg.com/vue"></script>
    <link rel="shortcut icon" href="../img/logo1.png">
    <script src = "js/Triangle_mandal.js"></script>
    <script src = "js/footer.js"></script>

  </head>
  <body>
    <div class = "title">만다라트</div>
    <div class = "mandalTitle">
      <div class = "titleIndex">방학 숙제 끝내기</div>
    </div>
    <div class = "mandal">
      <div class = "tri1_border">
        <div class = "tri1"></div>
      </div>
      <div class = "tri_line">
        <div class = "tri2_border">
          <div class = "tri2"></div>
        </div>
        <div class = "triMain_border">
          <!-- <div class = "triMain"></div> -->
        </div>
        <div class = "tri3_border">
          <div class = "tri3"></div>
        </div>
      </div>
    </div>
    <div class = "bar"></div>
    <div class = "LogoBtn" onclick = "goHome();">
      <div class = "LogoImg"></div>
    </div>
    <div class = "footer">
      <div class = "page1" onclick = "goPage1();">
        <div class = "page1_icon"></div>
      </div>
      <div class = "page2" onclick = "goPage2();">
        <div class = "page2_icon"></div>
      </div>
      <div class = "page3" onclick = "goPage3();">
        <div class = "page3_icon"></div>
      </div>
      <div class = "page4" onclick = "goPage4();">
        <div class = "page4_icon"></div>
      </div>
    </div>
  </body>
</html>
