@font-face{font-family: 'NotoSansCJKkr-Regular'; src:url('/font/NotoSansCJKkr-Regular.otf');}
@font-face{font-family: 'NotoSansCJKkr-Medium'; src:url('/font/NotoSansCJKkr-Medium.otf');}
body{
  margin:0;
  background: #e2e2e2;
  position: relative;
}
ul{
  list-style:none;
  padding:0;
}
input{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
.title{
  font-family: 'NotoSansCJKkr-Medium';
  width: 100%;
  height: 7vh;
  background: #fff;
  text-align: center;
  line-height: 7vh;
}
.circles{
  display: flex;
  margin:auto;
  margin-top: 5.5vh;
  width: 12.4vw;
  height: 1.5vh;
  margin-bottom : 6.8vh;
}
.circles > div{
  border-radius: 2em;
  height: 1.1vh;
  width: 1.1vh;
  border: 0.2vh solid #677e52;
}
.circle2, .circle3{
  margin-left: calc( (12.4vw - 4.5vh) / 2);
}
.circle2{
  background: #677e52;
}
.inputTitle{
  font-family: 'NotoSansCJKkr-Medium';
  font-size: 3vh;
  text-align: center;
  margin-bottom: 1.6vh;
}
.arrow1{
  position: absolute;
  left: 90vw;
  top: 26vh;
  width: 3vh;
  height: 5vh;
  background-image: url('/img/rightldpi.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.arrow2{
  position: absolute;
  right: 90vw;
  top: 26vh;
  width: 3vh;
  height: 5vh;
  background-image: url('/img/leftldpi.png');
  background-repeat: no-repeat;
  background-size: contain;
}
.introTitle{
  font-family: 'NotoSansCJKkr-Regular';
  color: #677e52;
  text-align: center;
  font-size: 1.6vh;
  margin-bottom: 6vh;
}
.wish, .plus{
  width: 90vw;
  height: 7vh;
  background: #fff;
  border : 0.2vh solid #677e52;
  margin: auto;
  text-align: center;
  line-height: 7vh;
  margin-bottom: 2.5vh;
  color: #677e52;
  font-size: 2.3vh;
  font-family: 'NotoSansCJKkr-Regular';
}
.plus{
  background: #e2e2e2;
  font-size: 5vh;
  font-weight: bold;
}
