@font-face{font-family: 'NotoSansCJKkr-Regular'; src:url('/font/NotoSansCJKkr-Regular.otf');}
@font-face{font-family: 'NotoSansCJKkr-Medium'; src:url('/font/NotoSansCJKkr-Medium.otf');}
body{
  margin : 0;
  background:#e2e2e2;
  width: 100vw;
  position: relative;
  height: 100vh;
}
.title{
  font-family: 'NotoSansCJKkr-Medium';
  width: 100%;
  height: 7vh;
  background: #fff;
  text-align: center;
  line-height: 7vh;
}
.non_mandal{
  width: 20.6vh;
  height: 30vh;
  margin:auto;
  margin-top: 22vh;
  margin-bottom: 10vh;
}
.Logo{
  width: 20.6vh;
  height: 20.6vh;
  background: #b7ca79;
  border-radius: 50%;
  margin:auto;
}
.text{
  font-family: 'NotoSansCJKkr-Regular';
  text-align: center;
  font-size: 2.2vh;
  margin-top: 1.5vh;
}
.new_mandal{
  font-family: 'NotoSansCJKkr-Regular';
  border-radius: 0.3em;
  width: 79vw;
  height: 8vh;
  background: #fff;
  margin:auto;
  color: #677e52;
  text-align: center;
  line-height: 8vh;
  font-size: 2.1vh;
  box-shadow: 0px 0.2vh 0 gray;
}
.bar{
  background: #b7ca79;
  position: absolute;
  top: 89.3vh;
  width: 25%;
  height: 1.1vh;
}
.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height:9.6vh;
  background : #fff;
  display: flex;
}
.footer > div{
  width: 25%;
  height: 100%;
  display: flex;
}
.page1_icon{
  background-image: url('/img/icon1ldpi.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.8vh;
  height: 4.8vh;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.page2_icon{
  background-image: url('/img/icon2ldpi.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.8vh;
  height: 4.8vh;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.page3_icon{
  background-image: url('/img/icon3ldpi.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.8vh;
  height: 4.8vh;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.page4_icon{
  background-image: url('/img/icon4ldpi.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 4.8vh;
  height: 4.8vh;
  margin: auto;
  margin-top: auto;
  margin-bottom: auto;
}
